.page12{
    height:1123px;
    width: 794px;
    margin: 20px auto ;
    padding: 30px 30px;
    font-family: Helvetica, sans-serif;
    position: relative;
    box-shadow: 0 0 4px rgb(88, 85, 85);
  }
  .titlediv12 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid;
  }
  
  .logo12 {
    width: 150px;
    /* margin-top: 40px; */
  }
  
  .title12 {
    font-size: 50px;
    /* margin-bottom: 20px; */
    font-weight: bold;
    color: #3871c1;
  }
  
  .invoiceDetails12 {
    font-Size: 12px;
    margin-bottom: 10px;
  }
  
  .billTo12 {
    font-size: 12px;
    font-weight: bold;
  }
  
  .table12 {
    /* display: flex; */
    width: 100%;
    margin: 20px 0;
  }
  
  .tableRow12 {
    display: flex;
    flex-direction: row;
    background-color: #3871c1;
    margin: 0px;
    padding: 0px;
  }
  
  .tableColHeader12 {
    font-Size: 12px;
    border-right: 0.5px solid;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    color: #fff;
  }
  
  .tableRow112 {
    display: flex;
    flex-direction: row;
    margin: 0px;
  }
  
  .tableColHeader112 {
    font-Size: 12px;
    border-right: 1px solid #bedef1;
    padding: 5px;
    text-align: center;
  }
  
  .tableColHeader212 {
    font-Size: 12px;
    border-color: #bedef1;
    border-right: 1px solid #bedef1;
    padding: 5px;
    text-align: center;
    background-color: #bedef1;
  }
  
  .tableCol12 {
    width: 33%;
  }
  
  .footer12 {
    position: absolute;
    bottom: 20px;
    width: 100%;
  }
  
  .subtotalHeadRow12 {
    /* Add styles if needed */
  }
  
  .subtotalRow12 {
    width: 150px;
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    justify-content: space-around;
    margin-top: 7px;
    margin-left: 50px;
  }
  
  .subtotalRow112 {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 7px;
    font-weight: bold;
    background-color: #3871c1;
    padding: 2px;
  }
  
  .footerInner12 {
    width: 88%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-Size: 12px;
    padding: 10px;
    padding-bottom: 0;
  }
  
  .bold12 {
    font-weight: bold;
  }
  